# Ignoring images and text files

**/*.jpg
**/*.txt
**/*.xml
**/*.tif

# Ignoring runs

ultralytics/*
torch/*
runs/*

# Ignoring datasets (these are too large, these should be installed yourself)

datasets/*

# Ignoring hidden files

.ipynb_checkpoints

# Ignore artifacts

__pycache__
**.cache

# Ignore pretrained weights

*.pt
