# Ignoring images and text files

**/*.jpg
**/*.txt
**/*.xml

# Ignoring runs

ultralytics/*
torch/*
runs/*

# Ignoring datasets (these are too large, these should be installed yourself)

datasets/*

# Ignoring hidden files

.ipynb_checkpoints
